*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    position: fixed;
    height: 85px;
    padding: 0px;
    background-image: url("img/back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    overflow: hidden;
    transition: height 1s;
}
.nav{
    display: flex;
    justify-content: left;
    align-content: stretch;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.418);
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.384);
}
#headerLogin{
    display: flex;
    justify-content: space-between;
}
.headline{
    width: 40%;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    color:white;
    margin: 20px 20px 30px 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.658);
}
#loginArea{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-align: right;
    padding: 10px;

}
#notify{
    color: white;
    font-weight: bold;
    font-size: small;
    text-align: center;
}
.butt{
    color: white;
    background-color: rgba(0, 0, 0, 0.253);
    border: 0;
    padding: 5px;
}
.butt:hover{
    background-color: rgba(255, 0, 0, 0.568);
    cursor: pointer;
}
.navbar, .navbar2{
    height: 80px;
    min-width:45%;
    padding: 20px;
    margin:0;

}
#email, #password, #searchField{
    background-color: rgba(255, 255, 255, 0.555);
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
}
.navbar2{
    text-align: right;
}
.navlink{
    color: white;
    margin: 0px 0 0 0;
    display: inline-block;
    padding: 0 10px 0 0;
    font-weight: bolder;
}
.navlink:hover{
    font-style: italic;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.658);
    cursor: pointer;
}
.init{
    text-align: center;
    font-weight: bolder;
    color: rgb(150, 150, 250);
    font-size: 2em;
}
#content{
    padding-top: 160px;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    
}
.article{
    border: 2px solid rgba(0, 0, 0, 0.226);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
    width: 50%;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.headerlink{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 20px;
    text-decoration: none;
}
a:link, a:visited{
    color: rgba(0, 0, 0, 0.493);
}
a:hover, a:active{
    font-style: italic;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.342);
}
.articleContent{
    font-size: 0.9rem;
    margin-top: 10px;
}

#articleInput, #articleUpdate{
    /*border: 1px solid green;*/
    padding-top: 160px;
    display:none;
    flex-direction: column;
    align-items: center;
}

#headlineInput, #articleTextInp, #headlineUpdate, #articleTextUpd{
    width: 50%;
    border: 2px solid rgba(0, 0, 0, 0.226);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    
}

#sendText, #updText{
    border: 2px solid rgba(0, 0, 0, 0.226);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 50px;
}
.idfy{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.322);
    text-align: right;
}
.user{
    font-weight: bold;
}
.manipulate{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.233);
    text-align: right;

}
.delBtn, .updBtn{
    width: 4em;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    color: gray;  
}
.delBtn:hover{
    background-color: rgba(255, 0, 0, 0.3);
    color: black;
}
.updBtn:hover{
    background-color: rgba(0, 255, 0, 0.3);
    color: black;
}
.currentID{
    width: 50%;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.322);
    text-align: left;
}